<<<<<<< HEAD
/* style.css */

/* Margens e espaçamento entre elementos */
=======
>>>>>>> 89050216e75334780c4019725b073f51432039c1
.container {
    margin-top: 2rem;
}

h2 {
    margin-bottom: 1.5rem;
}

/* Esconder campos condicionalmente */
.d-none {
    display: none !important;
}

/* Alerta de erro ou sucesso */
.alert {
    margin-top: 1rem;
}

/* Tabela */
.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
